.logo img{
    max-height: 70px;
}
img{
 display: block;
 margin-right: auto;
 margin-left: auto;
        }
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
header{
display: flex;
flex-direction: column;
background: yellow;
padding: 20px;
}
.menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 2px 2px;
}

.menu li {
    margin-right: 20px;
}

.submenu {
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    padding: 10px;
}

.dropdown:hover .submenu {
    display: block;
}

.submenu li {
    margin: 5px 0;
}

.menu a {
    color: blue;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
    color: white;
}

footer{
    margin-top: auto;
}
